*.xml
*.class
*.cache
*.css
*.xsl

LOCO/project/target
LOCO/target
LOCO/output
LOCO/.idea

preprocessingUtils/project/target
preprocessingUtils/target
preprocessingUtils/output
preprocessingUtils/.idea

temp
data/climate-serialized
data/dogs_vs_cats-serialized
data/dogs_vs_cats_small_test-colwise
data/dogs_vs_cats_small_test-rowwiseLabeledPoint
data/dogs_vs_cats_small_train-colwise
data/dogs_vs_cats_small_train-rowwiseLabeledPoint
dogs_vs_cats_small_train-responseTrain.txt
dogs_vs_cats_small_train-nFeats.txt
dogs_vs_cats_small_test-responseTest.txt
climate-serialized.zip
dogs_vs_cats-serialized.zip
